h1 {
	font-family: 'Leixo', Arial, sans-serif!important;
	font-weight:normal;
	font-style:normal;
}

h2 {

	font-family: 'Barlow', sans-serif!important;
	font-size: 1.5rem!important;
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

p {
	
}

nav a {
	
}