/* text styling */

h1 {
	font-family: 'Leixo', Arial, sans-serif!important;
	font-weight:normal;
	font-style:normal;
	color: #fe9c8f!important;
}

h2 {

	font-family: 'Barlow', sans-serif!important;
	font-size: 1.5rem!important;
	color: #c62b5c!important;
	
}

h3 {
	font-family: 'Barlow', sans-serif!important;
	font-size: 1.3rem!important;
}

h4 {
	font-family: 'Barlow', sans-serif!important;
	font-size: 1.2rem!important;
}

h5 {
	font-family: 'Barlow', sans-serif!important;
	font-size: 1.1rem!important;
}

p {
	font-family: 'Barlow', sans-serif!important;
	font-size: 1rem!important;
	justify-content: center;
}

.show-me {
	display: none!important;
}

#contact-p {
	margin-top: 1rem;
	text-align: center;
	max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

/* link styling */

nav {
	background-color: #fe9c8f!important;
}

nav a {
	font-family: 'Barlow', sans-serif!important;
	font-size: 1.2rem!important;
	color: #851e3e!important;
}

a {
	color: #851e3e!important;
	transition: .4s;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none!important;
}

a:hover{
	color: #c62b5c!important;
	transition: .4s;
}

.navbar {
	padding: 1rem 2.5rem!important;
}

.btn-info {
	background-color: #451e3e!important;
	border-color: #451e3e!important;
	color: #fe9c8f!important;
}

.btn-info:hover {
	background-color: #fe9c8f!important;
	border-color: #fe9c8f!important;
}

.btn {
	margin: 1rem!important;
}

iframe {
	width: 100%;
	height: 400px;
}

/* icon styling */

.icon {
	display: inline;
    width: 2.4rem;
    padding: 0 .5rem 1rem;
}

.icon-pair {
    display: inherit;
    justify-content: space-around;
}

#socialmedia {
	padding-top:1rem;
}

#copyright {
	font-size: .8rem!important;
}

/*section styling*/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px!important; /* Margin bottom by footer height */
}

section {
	margin-bottom: 2rem;
}

.style-group {
	background-color: #f9f4f4;
	padding: 1rem;
	border-radius: 10px;
	margin-left: 10px;
	margin-right:10px;
	max-width:47%!important;
}

.style-group section {
	background-color: #f0e4e4;
	padding: 1rem;
	border-radius: 10px;
}

.jumbotron {
	background-color: #051e3e!important;
	border-radius: 0!important;
}

footer {
	position: absolute!important;
	bottom: 0!important;
	padding: 1rem 1rem .1rem;
	background-color: #fe9c8f!important;
    height: 100px;
    width: 100%;
    overflow:hidden!important;
}

.work-button {
	text-align: center;
}

/* images */

.main-icon-div {
	display: flex;
	justify-content: space-between;
	margin-top:3rem;
}

.main-icon {
    max-width: 36%;
    margin: 1rem 0;
    margin-left: 32%;
    padding: 0;
}

.project-preview img {
	max-width: 100%;
    max-height: 30rem;
}

figcaption {
	text-align: center;
	font-family: 'Barlow', sans-serif!important;
	font-size: .9rem!important;

}

img {
	max-width: 100%;
	display: inline-block;
	padding: 1rem 0;
}

/* media queries */

@media (max-width: 768px){
	nav a{
		font-size: 1rem!important;
	}

	header #socialmedia{
		display: none;
	}

}

@media (max-width: 577px) {
	.hackathon-screens {
		width: 72%;
	    margin-left: 14%;
	    margin-bottom: 1rem;
	}

	.hide-me {
		display: none!important;
	}

	.show-me {
		display: block!important;
	}

	nav a{
		display: block;
		width: 100%;
		text-align: center;
		padding: 5px 0;
	}

	.container {
		padding-left: 30px!important;
		padding-right: 30px!important;		
	}

	figcaption {
		font-size: 1rem;
	}

	.icon-pair {
	    display: block;
	    justify-content: space-around;
	}

	.main-icon-div {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	.icon-group {
		padding: 0!important;
	}

	h3{
		font-size: 1rem!important;
	}

}

@media (max-width: 360px){ 
	.hackathon-screens {
		margin: 0;
		width: 100%;
	}
}
